<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8">

  <!-- Enable responsiveness on mobile devices-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">

  <!--[if IE]><link rel="shortcut icon" href="/assets/images/favicon.ico"><![endif]-->
  <link rel="shortcut icon" type="image/png" href="/assets/images/favicon.png" sizes=200x200>
  <link rel="apple-touch-icon-precomposed" href="/assets/images/favicon.png">
  

  <title>
    {% if page.title == "Home" %}
      {{ site.title }} &middot; {{ site.tagline }}
    {% else %}
      {{ page.title }} &middot; {{ site.title }}
    {% endif %}
  </title>

  <!-- CSS -->
  <!-- build:css /assets/stylesheets/style.min.css -->

  <!--<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.css">
  <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css">
  <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/grids-responsive-min.css">-->
  <link rel="stylesheet" href="/assets/stylesheets/normalize.css">
  <link href='/assets/fonts/font.css' rel='stylesheet' type='text/css'>
  <!-- <link href='http://fonts.googleapis.com/css?family=Noto+Sans:100,400' rel='stylesheet' type='text/css'> -->
  <link href='http://fonts.googleapis.com/css?family=Raleway:100,400' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="/assets/stylesheets/pure-min.css">
  <link rel="stylesheet" href="/assets/stylesheets/grids-responsive-min.css">
  <link rel="stylesheet" href="/assets/stylesheets/style.css">
  <!-- endbuild -->
  <!--<link href='http://fonts.googleapis.com/css?family=Noto+Sans' rel='stylesheet' type='text/css'>-->

  <!--<link href='http://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>-->
  <!-- JS -->
  <!-- build:js /assets/javascript/all.min.js -->
  <!-- <script src="/assets/javascript/javascript.js"></script>-->

  <!-- endbuild -->

  <!-- Icons -->
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/assets/images/touch/apple-touch-icon-144-precomposed.png">


  <!-- RSS -->
  <link rel="alternate" type="application/rss+xml" title="RSS" href="/atom.xml">
</head>
