<head>
  <meta charset="utf-8">
  <meta name="Description" CONTENT="Steve Sloan, Web Developer located in Toronto, Ontario">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">

  <!--[if IE]><link rel="shortcut icon" href="/assets/images/favicon.ico"><![endif]-->
  <link rel="shortcut icon" type="image/png" href="/assets/images/favicon.png" sizes=200x200>
  <link rel="apple-touch-icon-precomposed" href="/assets/images/favicon.png">

  <title>
    {% if page.title == "Home" %}
      {{ site.title }} &middot; {{ site.tagline }}
    {% else %}
      {{ page.title }} &middot; {{ site.title }}
    {% endif %}
  </title>

  <!-- CSS -->
  <link rel="stylesheet" href="/assets/stylesheets/normalize.css">
  <!-- <link href='/assets/fonts/font.css' rel='stylesheet' type='text/css'> -->
  <link href='https://fonts.googleapis.com/css?family=Raleway:400,100' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="{{ site.baseurl }}/assets/stylesheets/pure-min.css">
  <link rel="stylesheet" href="{{ site.baseurl }}/assets/stylesheets/grids-responsive-min.css">
  <link rel="stylesheet" href="{{ site.baseurl }}/assets/stylesheets/style.css">

  <!-- Icons -->
  <!-- <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/assets/images/touch/apple-touch-icon-144-precomposed.png"> -->

  <!-- RSS -->
  <link rel="alternate" type="application/rss+xml" title="RSS" href="/atom.xml">
</head>
