
<img src="assets/images/SteveSloan.png" class="sidebar__hero--ghost" />

<nav class="sidebar__nav">
  <a class="sidebar__nav-item{% if page.title == "About" %} sidebar__nav--active{% endif %}" href="/">About</a>
  <!-- <a class="sidebar__nav-item{% if page.title == "Blog" %} sidebar__nav--active{% endif %}" href="/blog.html">Blog</a> -->
  <a class="sidebar__nav-item{% if page.title == "Resume" %} sidebar__nav--active{% endif %}" href="/resume.html">Resume</a>
  <a class="sidebar__nav-item{% if page.title == "Contact" %} sidebar__nav--active{% endif %}" href="/contact.html">Contact</a>
</nav>


<div class="sidebar__botom">
  <aside>
    {% contentblock sidebar %}
  </aside>

  <span class="sidebar__social c-primary"><a href="https://twitter.com/{{ site.author.twitter}}"><img src="assets/images/twitter.svg" /></a></span>
  <span class="sidebar__social"><a href="https://github.com/{{ site.author.github}}"><img src="assets/images/github.svg" /></a></span>
  <span class="sidebar__social"><a href="https://ca.linkedin.com/in/{{ site.author.linkedin}}"><img class="c-primary" src="assets/images/linkedin.svg" /></a></span>
</div>
