
<img src="{{ site.baseurl }}/assets/images/polyPortrait.svg" class="sidebar__hero--ghost" />

<nav class="sidebar__nav">
  <a class="sidebar__nav-item{% if page.title == "About" %} sidebar__nav--active{% endif %}" href="/">About</a>
  <!-- <a class="sidebar__nav-item{% if page.title == "Blog" %} sidebar__nav--active{% endif %}" href="/blog.html">Blog</a> -->
  <!-- <a class="sidebar__nav-item{% if page.title == "Career" %} sidebar__nav--active{% endif %}" href="/career.html">Career</a> -->

  <a class="sidebar__nav-item{% if page.title == "Contact" %} sidebar__nav--active{% endif %}" href="/contact.html">Contact</a>
</nav>


<div class="sidebar__botom">
  <aside>
    {% contentblock sidebar %}
  </aside>

  <span class="sidebar__social c-primary"><a href="https://twitter.com/{{ site.author.twitter}}"><img src="{{ site.baseurl }}/assets/images/twitter.svg" alt="Twitter" /></a></span>
  <span class="sidebar__social"><a href="https://github.com/{{ site.author.github}}"><img src="{{ site.baseurl }}/assets/images/github.svg" alt="Github" /></a></span>
  <span class="sidebar__social"><a href="https://ca.linkedin.com/in/{{ site.author.linkedin}}"><img class="c-primary" src="{{ site.baseurl }}/assets/images/linkedin.svg" alt="Linkedin" /></a></span>
</div>
