.m2 {
  margin:20px;
  @include md {
    margin:60px;
  }
  @include lg {
    margin:120px;
  }
}
.p1 {
  padding:2em;


}
.p2 {
  padding:20px;

  @include md {
    padding:40px 50px;
  }
  @include lg {
    padding:90px 100px;
  }
}
