.notify {
  position:absolute;

  bottom:0;
  left:0;
  margin:1em;


  &__message {
    background:$c-primary-dark;
    color:white;
    padding:0.8em 1.2em;
    border-radius: 2em;
    margin-top:.5em;
    opacity:0;
    transition: opacity 0.5s;
  }
  &--active {
    opacity:1;
  }
}
