/*
The main SCSS file for everything, yep
*/

//@import "poole";
//@import "syntax";
//@import "lanyon";
@import "variables";
@import "mixins";
@import "theme";

.m2 {
  margin:20px;
  @include md {
    margin:40px;
  }
  @include lg {
    margin:50px;
  }
}
.p2 {
  padding:20px;
  @include md {
    padding:40px;
  }
  @include lg {
    padding:50px;
  }
}
