.pure-g, .pure-g [class *="pure-u"]{
  font-family: "Noto Sans";
  //font-family: "Raleway";
}

.sidebar {
  background-color:#4B3A72;
  color:white;
  will-change:transform;

  @include md {
    position: fixed;
    top: 0;
    bottom: 0;
  }
  @include lg {
    position: fixed;
    top: 0;
    bottom: 0;
  }
}

.main {
  @include lg {
    margin-left: 50%;

  }

  @include md {
    margin-left: 33.333%;

  }
}

.sidebar a {
  color:$c-white;
  &:active, &:focus, &:visited {
    color:$c-white;
  }
}

nav.sidebar-nav a {
  font-size:.9em;
  display:inline-block;
  padding-bottom:0.9em;
  margin-right:3em;
  text-decoration:none;
  text-transform: uppercase;
  letter-spacing: 2px;

  &.active {
    border-bottom:3px solid $c-primary;
  }
}

.post-title {
  margin-top:0;
  padding:0;
  line-height:1em;
  text-transform: uppercase;

}
