.pure-g, .pure-g [class *="pure-u"]{
  //font-family: "Noto Sans";
  //font-family: "Lato";
  font-size: 17px;
  font-family: "Raleway";
}

.main {

}

.gradient {
  background-color:#4B3A72;
  background-image:url('../images/bg.svg');
  background-size:cover;

  @include md {
    text-align:left;
    position: fixed;
    top: 0;
    bottom: 0;
  }
  @include lg {
    text-align:left;
    position: fixed;
    top: 0;
    bottom: 0;
  }
}

.sidebar {
  background-image: url('../images/hatch.svg');
  color: #fff;
  text-align: center;
  height:200%;






  a {
    color:$c-white;
    &:active, &:focus, &:visited {
      color:$c-white;
    }
  }


  &__nav {

    z-index:2;
    @include md {position: absolute;}
    @include lg {position: absolute;}
    a {
      font-size:.9em;
      display:inline-block;
      padding-bottom:0.9em;
      margin:0 1.5em 1.5em 1.5em;;
      text-decoration:none;
      text-transform: uppercase;
      letter-spacing: 2px;

      @include md {margin: 0 1em 0 0;}
      @include lg {margin: 0 3em 0 0;}

    }

    &--active {
      border-bottom:1px solid $c-white;
    }
  }
  &__hero {
    margin:0 auto;
    display:block;
    max-height: 50vh;
    margin-bottom:-100px;
    @include md {max-width: 100%;height:auto;}
    @include lg {max-width: 100%;height:auto;}

    &--ghost {
      position:absolute;
      margin-top:10%;
      margin-left:10%;
      transform: scaleX(-1);
      zoom:180%;
      opacity:.5;
      top:0;
      left:0;
    }
  }
  &__botom{
    margin-top:50%;

  }

  &__h1 {
    font-size:3em;

  }

  &__social {
    padding:1em;
    @include md {padding:0 2em 0 0;}
    @include lg {padding:0 2em 0 0;}
    img{
      width:35px;
      height:35px;
    }
  }

}

.logo {
  img {
    height:38px;
    float:left;
    padding-right:1em;

  }
  div {

    line-height:38px;
  }

  @include md {


  }
  @include lg {

  }
}

.page {
  margin-top: -0.67em;
}
