.pure-g, .pure-g [class *="pure-u"]{
  font-family: "Noto Sans";
  //font-family: "Raleway";
}

.main {
  @include lg {
    margin-left: 50%;

  }

  @include md {
    margin-left: 33.333%;

  }
}

.sidebar {
  background-image:url('../images/bg.svg');
  background-color:#4B3A72;
  background-size:cover;

  color:white;
  will-change:transform;
  text-align:center;

  @include md {
    text-align:left;
    position: fixed;
    top: 0;
    bottom: 0;
  }
  @include lg {
    text-align:left;
    position: fixed;
    top: 0;
    bottom: 0;
  }




  a {
    color:$c-white;
    &:active, &:focus, &:visited {
      color:$c-white;
    }
  }


  &__nav {
    z-index:100;
    a {
      font-size:.9em;
      display:inline-block;
      padding-bottom:0.9em;
      margin-right:3em;
      margin-bottom:1.5em;
      text-decoration:none;
      text-transform: uppercase;
      letter-spacing: 2px;



    }
    &--active {
      border-bottom:3px solid $c-primary;
    }
  }

  &__botom{
    z-index:1;
    @extend .p2;
    padding-left:0;
    padding-right:0;
    padding-top:0;

    @include md {
      position:absolute;
      bottom:0;
    }
    @include lg {
      position:absolute;
      bottom:0;
    }

  }

  &__h1 {
    font-size:3em;

  }

  &__social {
    padding-right:2em;

  }

}

.logo {
  margin: 50px auto;
  width:70px;
  @include md {
    margin-top:45px;
    position:absolute;
    right:-38px;

  }
  @include lg {
    margin-top:85px;
    position:absolute;
    right:-38px;
  }
}

.page {
  margin-top: -0.67em;
}
