// typo

.page-title {
  margin-top: inline;
  padding: 0;
  line-height: 1em;
  text-transform: uppercase;
  color: $c-dark-gray;

  @include md {
    margin-top: 0;
  }
  @include lg {
    margin-top: 0;
  }

}

.page-content {
  line-height: 1.8em;
  font-weight: 400;
  color: $c-gray;
}

.slim {
  font-weight: 100;
}
