/* typo */

.page-title {
  margin-top:0;
  padding:0;
  line-height:1em;
  text-transform: uppercase;

}

.page-content {
  line-height:2em;
  font-weight: 400;
  color:$c-gray;
}

.slim {
  font-weight:100;
}
