/*
The main SCSS file for everything, yep
*/
.hll {
  background-color: #ffffcc; }

.c {
  color: #999; }

.err {
  color: #AA0000;
  background-color: #FFAAAA; }

.k {
  color: #006699; }

.o {
  color: #555555; }

.cm {
  color: #0099FF;
  font-style: italic; }

.cp {
  color: #009999; }

.c1 {
  color: #999; }

.cs {
  color: #999; }

.gd {
  background-color: #FFCCCC;
  border: 1px solid #CC0000; }

.ge {
  font-style: italic; }

.gr {
  color: #FF0000; }

.gh {
  color: #003300; }

.gi {
  background-color: #CCFFCC;
  border: 1px solid #00CC00; }

.go {
  color: #AAAAAA; }

.gp {
  color: #000099; }

.gu {
  color: #003300; }

.gt {
  color: #99CC66; }

.kc {
  color: #006699; }

.kd {
  color: #006699; }

.kn {
  color: #006699; }

.kp {
  color: #006699; }

.kr {
  color: #006699; }

.kt {
  color: #007788; }

.m {
  color: #FF6600; }

.s {
  color: #d44950; }

.na {
  color: #4f9fcf; }

.nb {
  color: #336666; }

.nc {
  color: #00AA88; }

.no {
  color: #336600; }

.nd {
  color: #9999FF; }

.ni {
  color: #999999; }

.ne {
  color: #CC0000; }

.nf {
  color: #CC00FF; }

.nl {
  color: #9999FF; }

.nn {
  color: #00CCFF; }

.nt {
  color: #2f6f9f; }

.nv {
  color: #003333; }

.ow {
  color: #000000; }

.w {
  color: #bbbbbb; }

.mf {
  color: #FF6600; }

.mh {
  color: #FF6600; }

.mi {
  color: #FF6600; }

.mo {
  color: #FF6600; }

.sb {
  color: #CC3300; }

.sc {
  color: #CC3300; }

.sd {
  color: #CC3300;
  font-style: italic; }

.s2 {
  color: #CC3300; }

.se {
  color: #CC3300; }

.sh {
  color: #CC3300; }

.si {
  color: #AA0000; }

.sx {
  color: #CC3300; }

.sr {
  color: #33AAAA; }

.s1 {
  color: #CC3300; }

.ss {
  color: #FFCC33; }

.bp {
  color: #336666; }

.vc {
  color: #003333; }

.vg {
  color: #003333; }

.vi {
  color: #003333; }

.il {
  color: #FF6600; }

.css .o, .css .o + .nt, .css .nt + .nt {
  color: #999; }

/* typo */
.page-title {
  margin-top: 0;
  padding: 0;
  line-height: 1em;
  text-transform: uppercase; }

.page-content {
  line-height: 2em;
  font-weight: 400;
  color: #666; }

.slim {
  font-weight: 100; }

.m2 {
  margin: 20px; }
  @media (min-width: 768px) and (max-width: 1023px) {
    .m2 {
      margin: 60px; } }
  @media (min-width: 1024px) {
    .m2 {
      margin: 120px; } }

.p2, .sidebar__botom {
  padding: 8% 10%; }

.pure-g, .pure-g [class*="pure-u"] {
  font-family: "Noto Sans";
  font-size: 17px; }

@media (min-width: 1024px) {
  .main {
    margin-left: 50%; } }
@media (min-width: 768px) and (max-width: 1023px) {
  .main {
    margin-left: 33.333%; } }

.gradient {
  background-image: url('../images/bg.svg');
  background-size: cover;
  background-color: #4B3A72; }
  @media (min-width: 768px) and (max-width: 1023px) {
    .gradient {
      text-align: left;
      position: fixed;
      top: 0;
      bottom: 0; } }
  @media (min-width: 1024px) {
    .gradient {
      text-align: left;
      position: fixed;
      top: 0;
      bottom: 0; } }

.sidebar {
  background-image: url('../images/hatch.svg');
  color: white;
  will-change: transform;
  text-align: center; }
  @media (min-width: 768px) and (max-width: 1023px) {
    .sidebar {
      text-align: left;
      position: fixed;
      top: 0;
      bottom: 0; } }
  @media (min-width: 1024px) {
    .sidebar {
      text-align: left;
      position: fixed;
      top: 0;
      bottom: 0; } }
  .sidebar a {
    color: #fff; }
    .sidebar a:active, .sidebar a:focus, .sidebar a:visited {
      color: #fff; }
  .sidebar__nav {
    z-index: 100; }
    .sidebar__nav a {
      font-size: .9em;
      display: inline-block;
      padding-bottom: 0.9em;
      margin: 0 1.5em 1.5em 1.5em;
      text-decoration: none;
      text-transform: uppercase;
      letter-spacing: 2px; }
      @media (min-width: 768px) and (max-width: 1023px) {
        .sidebar__nav a {
          margin-right: 1em; } }
      @media (min-width: 768px) and (max-width: 1023px) {
        .sidebar__nav a {
          margin: 0 1em 0 0; } }
      @media (min-width: 1024px) {
        .sidebar__nav a {
          margin: 0 3em 0 0; } }
    .sidebar__nav--active {
      border-bottom: 3px solid #2AF4FD; }
  .sidebar__hero {
    margin: 0 auto;
    display: block;
    height: 50vh;
    margin-bottom: -100px; }
  .sidebar__botom {
    z-index: 1;
    overflow: hidden;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0; }
    @media (min-width: 768px) and (max-width: 1023px) {
      .sidebar__botom {
        position: absolute;
        bottom: 0;
        font-size: 0.8em;
        padding-right: inherit;
        width: 80%; } }
    @media (min-width: 1024px) {
      .sidebar__botom {
        position: absolute;
        bottom: 0;
        padding-right: inherit;
        width: 80%; } }
  .sidebar__h1 {
    font-size: 3em; }
  .sidebar__social {
    padding: 1em; }
    @media (min-width: 768px) and (max-width: 1023px) {
      .sidebar__social {
        padding: 0 2em 0 0; } }
    @media (min-width: 1024px) {
      .sidebar__social {
        padding: 0 2em 0 0; } }
    .sidebar__social img {
      width: 35px;
      height: 35px; }

.logo {
  margin: 8% auto 0;
  width: 70px; }
  @media (min-width: 768px) and (max-width: 1023px) {
    .logo {
      margin-top: 8%;
      position: absolute;
      right: -38px; } }
  @media (min-width: 1024px) {
    .logo {
      margin-top: 6%;
      position: absolute;
      right: -38px; } }

.page {
  margin-top: -0.67em; }
