.hll {
  background-color: #ffffcc; }

.c {
  color: #999; }

.err {
  color: #AA0000;
  background-color: #FFAAAA; }

.k {
  color: #006699; }

.o {
  color: #555555; }

.cm {
  color: #0099FF;
  font-style: italic; }

.cp {
  color: #009999; }

.c1 {
  color: #999; }

.cs {
  color: #999; }

.gd {
  background-color: #FFCCCC;
  border: 1px solid #CC0000; }

.ge {
  font-style: italic; }

.gr {
  color: #FF0000; }

.gh {
  color: #003300; }

.gi {
  background-color: #CCFFCC;
  border: 1px solid #00CC00; }

.go {
  color: #AAAAAA; }

.gp {
  color: #000099; }

.gu {
  color: #003300; }

.gt {
  color: #99CC66; }

.kc {
  color: #006699; }

.kd {
  color: #006699; }

.kn {
  color: #006699; }

.kp {
  color: #006699; }

.kr {
  color: #006699; }

.kt {
  color: #007788; }

.m {
  color: #FF6600; }

.s {
  color: #d44950; }

.na {
  color: #4f9fcf; }

.nb {
  color: #336666; }

.nc {
  color: #00AA88; }

.no {
  color: #336600; }

.nd {
  color: #9999FF; }

.ni {
  color: #999999; }

.ne {
  color: #CC0000; }

.nf {
  color: #CC00FF; }

.nl {
  color: #9999FF; }

.nn {
  color: #00CCFF; }

.nt {
  color: #2f6f9f; }

.nv {
  color: #003333; }

.ow {
  color: #000000; }

.w {
  color: #bbbbbb; }

.mf {
  color: #FF6600; }

.mh {
  color: #FF6600; }

.mi {
  color: #FF6600; }

.mo {
  color: #FF6600; }

.sb {
  color: #CC3300; }

.sc {
  color: #CC3300; }

.sd {
  color: #CC3300;
  font-style: italic; }

.s2 {
  color: #CC3300; }

.se {
  color: #CC3300; }

.sh {
  color: #CC3300; }

.si {
  color: #AA0000; }

.sx {
  color: #CC3300; }

.sr {
  color: #33AAAA; }

.s1 {
  color: #CC3300; }

.ss {
  color: #FFCC33; }

.bp {
  color: #336666; }

.vc {
  color: #003333; }

.vg {
  color: #003333; }

.vi {
  color: #003333; }

.il {
  color: #FF6600; }

.css .o,
.css .o + .nt,
.css .nt + .nt {
  color: #999; }

.page-title {
  margin-top: inline;
  padding: 0;
  line-height: 1em;
  text-transform: uppercase;
  color: #333; }
  @media (min-width: 768px) and (max-width: 1023px) {
    .page-title {
      margin-top: 0; } }
  @media (min-width: 1024px) {
    .page-title {
      margin-top: 0; } }

.page-content {
  line-height: 1.8em;
  font-weight: 400;
  color: #666; }

.slim {
  font-weight: 100; }

.m2 {
  margin: 20px; }
  @media (min-width: 768px) and (max-width: 1023px) {
    .m2 {
      margin: 60px; } }
  @media (min-width: 1024px) {
    .m2 {
      margin: 120px; } }

.p1 {
  padding: 2em; }

.p2 {
  padding: 20px; }
  @media (min-width: 768px) and (max-width: 1023px) {
    .p2 {
      padding: 40px 50px; } }
  @media (min-width: 1024px) {
    .p2 {
      padding: 90px 100px; } }

.pure-g, .pure-g [class*="pure-u"] {
  font-size: 17px;
  font-family: "Raleway"; }

a {
  color: #193B5A; }

.c-primary {
  stroke: #006600;
  fill: #00cc00; }

.pure-g {
  -webkit-flex-direction: row-reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
  -webkit-flex-flow: row-reverse wrap;
  -ms-flex-flow: row-reverse wrap;
  flex-flow: row-reverse wrap;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch; }

.pull-left {
  float: left;
  margin-left: 0; }

.profile-pic {
  border-radius: 50%;
  background-color: #47a1c3;
  background-image: url("../images/hatch.svg");
  background-attachment: fixed;
  width: 200px;
  height: 200px;
  overflow: hidden;
  margin-top: 0; }

.profile-pic__image {
  width: 100%;
  margin-top: -10px;
  margin-left: -10px; }

.btn {
  background-color: #ff8933;
  padding: 0.6em 1em;
  text-decoration: none;
  border-radius: 2em;
  color: #fff;
  display: inline-block;
  background-image: url("../images/hatch.svg");
  border: 1px solid #ff6c00; }
  .btn--right {
    float: right; }

hr {
  height: 0;
  border: 0;
  border-bottom: 1px solid #b3b3b3; }

.gradient {
  background-color: #3584a2;
  background-image: url("../images/bg.svg");
  background-size: cover;
  background-attachment: fixed;
  float: right; }
  @media (min-width: 768px) and (max-width: 1023px) {
    .gradient {
      text-align: left; } }
  @media (min-width: 1024px) {
    .gradient {
      text-align: left; } }

.sidebar-inner {
  background-image: url("../images/SteveSloan.png");
  background-attachment: fixed; }

.sidebar {
  background-image: url("../images/hatch.svg");
  background-attachment: fixed;
  color: #fff;
  text-align: center;
  overflow: hidden; }
  @media (min-width: 768px) and (max-width: 1023px) {
    .sidebar {
      height: 100vh;
      -webkit-justify-content: center;
      -ms-flex-pack: center;
      justify-content: center;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex; } }
  @media (min-width: 1024px) {
    .sidebar {
      height: 100vh;
      -webkit-justify-content: center;
      -ms-flex-pack: center;
      justify-content: center;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex; } }
  .sidebar .container {
    position: relative; }
    @media (min-width: 768px) and (max-width: 1023px) {
      .sidebar .container {
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex; } }
    @media (min-width: 1024px) {
      .sidebar .container {
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex; } }
  .sidebar a {
    color: #fff; }
    .sidebar a:active, .sidebar a:focus, .sidebar a:visited {
      color: #fff; }
  .sidebar__nav {
    position: relative;
    left: 0;
    right: 0; }
    @media (min-width: 768px) and (max-width: 1023px) {
      .sidebar__nav {
        position: absolute; } }
    @media (min-width: 1024px) {
      .sidebar__nav {
        position: absolute; } }
    .sidebar__nav a {
      font-size: .9em;
      display: inline-block;
      padding-bottom: 0.9em;
      margin: 0 1.5em 0 0;
      text-decoration: none;
      text-transform: uppercase;
      letter-spacing: 2px; }
      @media (min-width: 768px) and (max-width: 1023px) {
        .sidebar__nav a {
          margin: 0 1em 0 0; } }
      @media (min-width: 1024px) {
        .sidebar__nav a {
          margin: 0 3em 0 0; } }
    .sidebar__nav a:last-child {
      margin-right: 0; }
    .sidebar__nav--active {
      border-bottom: 1px solid #fff; }
  .sidebar__hero--ghost {
    position: absolute;
    height: 120%;
    -webkit-transform: scaleX(-1) translate(-40%, 0%);
    transform: scaleX(-1) translate(-40%, 0%);
    opacity: .5;
    top: 0;
    right: 0; }
    @media (min-width: 768px) and (max-width: 1023px) {
      .sidebar__hero--ghost {
        height: 90%; } }
    @media (min-width: 1024px) {
      .sidebar__hero--ghost {
        height: 100%; } }
  .sidebar__botom {
    position: relative;
    margin: auto; }
  .sidebar__h1 {
    font-size: 3em; }
  .sidebar__social {
    padding: 1em; }
    @media (min-width: 768px) and (max-width: 1023px) {
      .sidebar__social {
        padding: 0 0.5em 0 0.5em; } }
    @media (min-width: 1024px) {
      .sidebar__social {
        padding: 0 1em 0 1em; } }
    .sidebar__social img {
      width: 35px;
      height: 35px; }

.logo-sm {
  color: #333;
  display: block;
  margin-bottom: 2em; }
  @media (min-width: 768px) and (max-width: 1023px) {
    .logo-sm {
      display: none; } }
  @media (min-width: 1024px) {
    .logo-sm {
      display: none; } }
  .logo-sm img {
    height: 2em;
    width: 2em;
    float: left;
    padding-right: 1em; }
  .logo-sm div {
    position: absolute;
    right: 2em;
    line-height: 38px; }
  .logo-sm a {
    color: #333;
    text-decoration: none; }

.logo {
  color: #333;
  display: none; }
  @media (min-width: 768px) and (max-width: 1023px) {
    .logo {
      display: block; } }
  @media (min-width: 1024px) {
    .logo {
      display: block; } }
  .logo img {
    height: 2em;
    width: 2em;
    float: left;
    padding-right: 1em; }
  .logo div {
    line-height: 38px; }
  .logo a {
    color: #333;
    text-decoration: none; }

.page {
  margin-top: -0.67em; }

/* Remove Focus Boxes */
select:focus {
  outline: 1px solid #fff6f0; }

button:focus {
  outline: none;
  background-color: #56a9c8; }

/***************************
   Text Inputs + Textarea
****************************/
::-webkit-input-placeholder {
  color: #999999; }

:-moz-placeholder {
  /* Firefox 18- */
  color: #999999; }

::-moz-placeholder {
  /* Firefox 19+ */
  color: #999999; }

:-ms-input-placeholder {
  color: #999999; }

input[type=text],
input[type=password],
input[type=email],
input[type=url],
input[type=time],
input[type=date],
input[type=datetime-local],
input[type=tel],
input[type=number],
input[type=search],
textarea.materialize-textarea {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #666;
  border-radius: 0;
  outline: none;
  height: 3rem;
  width: 100%;
  font-size: 1rem;
  margin: 0 0 15px 0;
  padding: 0;
  box-shadow: none;
  transition: all .3s; }
  input[type=text]:disabled, input[type=text][readonly="readonly"],
  input[type=password]:disabled,
  input[type=password][readonly="readonly"],
  input[type=email]:disabled,
  input[type=email][readonly="readonly"],
  input[type=url]:disabled,
  input[type=url][readonly="readonly"],
  input[type=time]:disabled,
  input[type=time][readonly="readonly"],
  input[type=date]:disabled,
  input[type=date][readonly="readonly"],
  input[type=datetime-local]:disabled,
  input[type=datetime-local][readonly="readonly"],
  input[type=tel]:disabled,
  input[type=tel][readonly="readonly"],
  input[type=number]:disabled,
  input[type=number][readonly="readonly"],
  input[type=search]:disabled,
  input[type=search][readonly="readonly"],
  textarea.materialize-textarea:disabled,
  textarea.materialize-textarea[readonly="readonly"] {
    color: #666;
    border-bottom: 1px dotted #666; }
  input[type=text]:disabled + label, input[type=text][readonly="readonly"] + label,
  input[type=password]:disabled + label,
  input[type=password][readonly="readonly"] + label,
  input[type=email]:disabled + label,
  input[type=email][readonly="readonly"] + label,
  input[type=url]:disabled + label,
  input[type=url][readonly="readonly"] + label,
  input[type=time]:disabled + label,
  input[type=time][readonly="readonly"] + label,
  input[type=date]:disabled + label,
  input[type=date][readonly="readonly"] + label,
  input[type=datetime-local]:disabled + label,
  input[type=datetime-local][readonly="readonly"] + label,
  input[type=tel]:disabled + label,
  input[type=tel][readonly="readonly"] + label,
  input[type=number]:disabled + label,
  input[type=number][readonly="readonly"] + label,
  input[type=search]:disabled + label,
  input[type=search][readonly="readonly"] + label,
  textarea.materialize-textarea:disabled + label,
  textarea.materialize-textarea[readonly="readonly"] + label {
    color: #666; }
  input[type=text]:focus:not([readonly]),
  input[type=password]:focus:not([readonly]),
  input[type=email]:focus:not([readonly]),
  input[type=url]:focus:not([readonly]),
  input[type=time]:focus:not([readonly]),
  input[type=date]:focus:not([readonly]),
  input[type=datetime-local]:focus:not([readonly]),
  input[type=tel]:focus:not([readonly]),
  input[type=number]:focus:not([readonly]),
  input[type=search]:focus:not([readonly]),
  textarea.materialize-textarea:focus:not([readonly]) {
    border-bottom: 1px solid #47a1c3;
    box-shadow: 0 1px 0 0 #47a1c3; }
  input[type=text]:focus:not([readonly]) + label,
  input[type=password]:focus:not([readonly]) + label,
  input[type=email]:focus:not([readonly]) + label,
  input[type=url]:focus:not([readonly]) + label,
  input[type=time]:focus:not([readonly]) + label,
  input[type=date]:focus:not([readonly]) + label,
  input[type=datetime-local]:focus:not([readonly]) + label,
  input[type=tel]:focus:not([readonly]) + label,
  input[type=number]:focus:not([readonly]) + label,
  input[type=search]:focus:not([readonly]) + label,
  textarea.materialize-textarea:focus:not([readonly]) + label {
    color: #47a1c3; }
  input[type=text].valid, input[type=text]:focus.valid,
  input[type=password].valid,
  input[type=password]:focus.valid,
  input[type=email].valid,
  input[type=email]:focus.valid,
  input[type=url].valid,
  input[type=url]:focus.valid,
  input[type=time].valid,
  input[type=time]:focus.valid,
  input[type=date].valid,
  input[type=date]:focus.valid,
  input[type=datetime-local].valid,
  input[type=datetime-local]:focus.valid,
  input[type=tel].valid,
  input[type=tel]:focus.valid,
  input[type=number].valid,
  input[type=number]:focus.valid,
  input[type=search].valid,
  input[type=search]:focus.valid,
  textarea.materialize-textarea.valid,
  textarea.materialize-textarea:focus.valid {
    border-bottom: 1px solid #47a1c3;
    box-shadow: 0 1px 0 0 #47a1c3; }
  input[type=text].valid + label:after,
  input[type=text]:focus.valid + label:after,
  input[type=password].valid + label:after,
  input[type=password]:focus.valid + label:after,
  input[type=email].valid + label:after,
  input[type=email]:focus.valid + label:after,
  input[type=url].valid + label:after,
  input[type=url]:focus.valid + label:after,
  input[type=time].valid + label:after,
  input[type=time]:focus.valid + label:after,
  input[type=date].valid + label:after,
  input[type=date]:focus.valid + label:after,
  input[type=datetime-local].valid + label:after,
  input[type=datetime-local]:focus.valid + label:after,
  input[type=tel].valid + label:after,
  input[type=tel]:focus.valid + label:after,
  input[type=number].valid + label:after,
  input[type=number]:focus.valid + label:after,
  input[type=search].valid + label:after,
  input[type=search]:focus.valid + label:after,
  textarea.materialize-textarea.valid + label:after,
  textarea.materialize-textarea:focus.valid + label:after {
    content: attr(data-success);
    color: #47a1c3;
    opacity: 1; }
  input[type=text].invalid, input[type=text]:focus.invalid,
  input[type=password].invalid,
  input[type=password]:focus.invalid,
  input[type=email].invalid,
  input[type=email]:focus.invalid,
  input[type=url].invalid,
  input[type=url]:focus.invalid,
  input[type=time].invalid,
  input[type=time]:focus.invalid,
  input[type=date].invalid,
  input[type=date]:focus.invalid,
  input[type=datetime-local].invalid,
  input[type=datetime-local]:focus.invalid,
  input[type=tel].invalid,
  input[type=tel]:focus.invalid,
  input[type=number].invalid,
  input[type=number]:focus.invalid,
  input[type=search].invalid,
  input[type=search]:focus.invalid,
  textarea.materialize-textarea.invalid,
  textarea.materialize-textarea:focus.invalid {
    border-bottom: 1px solid #ff6c00;
    box-shadow: 0 1px 0 0 #ff6c00; }
  input[type=text].invalid + label:after,
  input[type=text]:focus.invalid + label:after,
  input[type=password].invalid + label:after,
  input[type=password]:focus.invalid + label:after,
  input[type=email].invalid + label:after,
  input[type=email]:focus.invalid + label:after,
  input[type=url].invalid + label:after,
  input[type=url]:focus.invalid + label:after,
  input[type=time].invalid + label:after,
  input[type=time]:focus.invalid + label:after,
  input[type=date].invalid + label:after,
  input[type=date]:focus.invalid + label:after,
  input[type=datetime-local].invalid + label:after,
  input[type=datetime-local]:focus.invalid + label:after,
  input[type=tel].invalid + label:after,
  input[type=tel]:focus.invalid + label:after,
  input[type=number].invalid + label:after,
  input[type=number]:focus.invalid + label:after,
  input[type=search].invalid + label:after,
  input[type=search]:focus.invalid + label:after,
  textarea.materialize-textarea.invalid + label:after,
  textarea.materialize-textarea:focus.invalid + label:after {
    content: attr(data-error);
    color: #ff6c00;
    opacity: 1; }
  input[type=text] + label:after,
  input[type=password] + label:after,
  input[type=email] + label:after,
  input[type=url] + label:after,
  input[type=time] + label:after,
  input[type=date] + label:after,
  input[type=datetime-local] + label:after,
  input[type=tel] + label:after,
  input[type=number] + label:after,
  input[type=search] + label:after,
  textarea.materialize-textarea + label:after {
    display: block;
    content: "";
    position: absolute;
    top: 65px;
    opacity: 0;
    transition: .2s opacity ease-out, .2s color ease-out; }

textarea {
  width: 100%;
  height: 7rem;
  background-color: transparent; }
  textarea.materialize-textarea {
    overflow-y: hidden;
    /* prevents scroll bar flash */
    padding: 1.6rem 0;
    /* prevents text jump on Enter keypress */
    resize: none;
    min-height: 3rem; }

.hiddendiv {
  display: none;
  white-space: pre-wrap;
  word-wrap: break-word;
  overflow-wrap: break-word;
  /* future version of deprecated 'word-wrap' */
  padding-top: 1.2rem;
  /* prevents text jump on Enter keypress */ }
