.page-title {
  margin-top: inline;
  padding: 0;
  line-height: 1em;
  text-transform: uppercase;
  color: #333; }
  @media (min-width: 768px) and (max-width: 1023px) {
    .page-title {
      margin-top: 0; } }
  @media (min-width: 1024px) {
    .page-title {
      margin-top: 0; } }

.page-content {
  line-height: 1.8em;
  font-weight: 400;
  color: #666; }

.slim {
  font-weight: 100; }

.m2 {
  margin: 20px; }
  @media (min-width: 768px) and (max-width: 1023px) {
    .m2 {
      margin: 60px; } }
  @media (min-width: 1024px) {
    .m2 {
      margin: 120px; } }

.p1 {
  padding: 2em; }

.p2 {
  padding: 20px; }
  @media (min-width: 768px) and (max-width: 1023px) {
    .p2 {
      padding: 40px 50px; } }
  @media (min-width: 1024px) {
    .p2 {
      padding: 90px 100px; } }

.pure-g, .pure-g [class*="pure-u"] {
  font-size: 17px;
  font-family: "Raleway"; }

.c-primary {
  stroke: #006600;
  fill: #00cc00; }

.pure-g {
  -webkit-flex-direction: row-reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
  -webkit-flex-flow: row-reverse wrap;
  -ms-flex-flow: row-reverse wrap;
  flex-flow: row-reverse wrap;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  -ms-grid-row-align: stretch;
  align-items: stretch; }

.gradient {
  background-color: #224c74;
  background-image: url("../images/bg.svg");
  background-size: cover;
  float: right; }
  @media (min-width: 768px) and (max-width: 1023px) {
    .gradient {
      text-align: left; } }
  @media (min-width: 1024px) {
    .gradient {
      text-align: left; } }

.sidebar-inner {
  background-image: url("../images/SteveSloan.png"); }

.sidebar {
  background-image: url("../images/hatch.svg");
  color: #fff;
  text-align: center;
  overflow: hidden; }
  @media (min-width: 768px) and (max-width: 1023px) {
    .sidebar {
      height: 100vh;
      -webkit-justify-content: center;
      -ms-flex-pack: center;
      justify-content: center;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex; } }
  @media (min-width: 1024px) {
    .sidebar {
      height: 100vh;
      -webkit-justify-content: center;
      -ms-flex-pack: center;
      justify-content: center;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex; } }
  .sidebar .container {
    position: relative;
    width: 100%;
    padding: 2em 0; }
    @media (min-width: 768px) and (max-width: 1023px) {
      .sidebar .container {
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        padding: 2em 1em; } }
    @media (min-width: 1024px) {
      .sidebar .container {
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        padding: 2em; } }
  .sidebar a {
    color: #fff; }
    .sidebar a:active, .sidebar a:focus, .sidebar a:visited {
      color: #fff; }
  .sidebar__nav {
    position: relative;
    margin: 0 auto;
    display: block; }
    @media (min-width: 768px) and (max-width: 1023px) {
      .sidebar__nav {
        position: absolute; } }
    @media (min-width: 1024px) {
      .sidebar__nav {
        position: absolute; } }
    .sidebar__nav a {
      font-size: .9em;
      display: inline-block;
      padding-bottom: 0.9em;
      margin: 0 1.5em 1.5em 1.5em;
      text-decoration: none;
      text-transform: uppercase;
      letter-spacing: 2px; }
      .sidebar__nav a:last-child {
        margin: 0; }
      @media (min-width: 768px) and (max-width: 1023px) {
        .sidebar__nav a {
          margin: 0 1em 0 0; } }
      @media (min-width: 1024px) {
        .sidebar__nav a {
          margin: 0 3em 0 0; } }
    .sidebar__nav--active {
      border-bottom: 1px solid #fff; }
  .sidebar__hero--ghost {
    position: absolute;
    -webkit-transform: scaleX(-1) translate(0%, 0%);
    transform: scaleX(-1) translate(0%, 0%);
    opacity: .5;
    top: 0;
    right: 0; }
    @media (min-width: 768px) and (max-width: 1023px) {
      .sidebar__hero--ghost {
        width: 160%;
        -webkit-transform: scaleX(-1) translate(-30%, 0%);
        transform: scaleX(-1) translate(-30%, 0%); } }
    @media (min-width: 1024px) {
      .sidebar__hero--ghost {
        width: 120%;
        -webkit-transform: scaleX(-1) translate(-30%, 0%);
        transform: scaleX(-1) translate(-30%, 0%); } }
  .sidebar__botom {
    position: relative;
    margin: auto; }
  .sidebar__h1 {
    font-size: 3em; }
  .sidebar__social {
    padding: 1em; }
    @media (min-width: 768px) and (max-width: 1023px) {
      .sidebar__social {
        padding: 0 2em 0 0; }
        .sidebar__social:last-child {
          padding-right: 0; } }
    @media (min-width: 1024px) {
      .sidebar__social {
        padding: 0 2em 0 0; }
        .sidebar__social:last-child {
          padding-right: 0; } }
    .sidebar__social img {
      width: 35px;
      height: 35px; }

.logo-sm {
  color: #333;
  font-size: 17px;
  font-family: "Raleway";
  display: block;
  margin-bottom: 2em; }
  @media (min-width: 768px) and (max-width: 1023px) {
    .logo-sm {
      display: none; } }
  @media (min-width: 1024px) {
    .logo-sm {
      display: none; } }
  .logo-sm img {
    height: 2em;
    width: 2em;
    float: left;
    padding-right: 1em; }
  .logo-sm div {
    position: absolute;
    right: 2em;
    line-height: 38px; }

.logo {
  color: #333;
  display: none; }
  @media (min-width: 768px) and (max-width: 1023px) {
    .logo {
      display: block; } }
  @media (min-width: 1024px) {
    .logo {
      display: block; } }
  .logo img {
    height: 2em;
    width: 2em;
    float: left;
    padding-right: 1em; }
  .logo div {
    line-height: 38px; }

img.profile {
  border-radius: 50%;
  width: 10em;
  height: 10em;
  float: left;
  margin-right: 1em;
  margin-top: 0.5em;
  background: #2E669B; }

.page {
  margin-top: -0.67em; }

.pure-button-primary, .pure-button-selected, a.pure-button-primary, a.pure-button-selected {
  background-color: #2E669B; }
